@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Login.EmailConfirm ;
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
