@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Login.ForgotPasswordConfirm;
}

<h1>@ViewData["Title"]</h1>
<p>
    @App.Resources.WebApp.Areas.Identity.Login.ForgotPasswordMessage;
</p>
