@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Login.ResetPasswordConfirmation;
}

<h1>@ViewData["Title"]</h1>
<p>
    @App.Resources.WebApp.Areas.Identity.Login.ResetPasswordMessage;
</p>
