@model WebApp.Areas.Admin.ViewModels.OwnerCreateEditVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Owner</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <partial name="_CreateEdit" model="Model"/>
            <div>
                <label asp-for="Owner.AppUser" class="control-label"></label>
                <select asp-for="Owner.AppUserId" class="form-control" asp-items="Model!.AppUserSelectList"></select>
            </div>
            <input type="hidden" asp-for="Owner.Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}